---
import './style.css';
---
<!doctype html>
<html lang="en" class="selectmenu-support">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0, maximum-scale=1.0" />
    <title>openui-initiative/selectmenu/heading-select</title>
  </head>
  <body>
    <main>  
      <selectmenu id=position>
        <div slot="button">
          <button behavior="button">
            <span>
              <img role=selected-img alt="">
            </span>
            <span behavior="selected-value" slot="selected-value"></span>
          </button>
        </div>
        <div slot="listbox">
          <div popover behavior="listbox">
            <option title="Tuna Maki" value="tuna-maki" style="--accent: 10;">
              <img src="/shared/images/sushi/tuna-maki.svg" alt="">
              <span class=sr-only>Tuna Maki</span>
            </option>
            <option title="Tuna Nigiri" value="tuna-nigiri" style="--accent: 10;">
              <img src="/shared/images/sushi/tuna-nigiri.svg" alt="">
              <span class=sr-only>Tuna Nigiri</span>
            </option>
            <option title="Salmon Maki" value="salmon-maki" style="--accent: 32;">
              <img src="/shared/images/sushi/salmon-maki.svg" alt="">
              <span class=sr-only>Salmon Maki</span>
            </option>
            <option title="Salmon Nigiri" value="salmon-nigiri" style="--accent: 32;">
              <img src="/shared/images/sushi/salmon-nigiri.svg" alt="">
              <span class=sr-only>Salmon Nigiri</span>
            </option>
            <option title="Cucumber Maki" name="Cucumber Maki" value="cucumber-maki" style="--accent: 140;">
              <img src="/shared/images/sushi/cucumber-maki.svg" alt="">
              <span class=sr-only>Cucumber Maki</span>
            </option>
            <option title="Egg Nigiri" value="egg-nigiri" style="--accent: 50;">
              <img src="/shared/images/sushi/egg-nigiri.svg" alt="">
              <span class=sr-only>Egg Nigiri</span>
            </option>
          </div>
        </div>
      </selectmenu>
    </main>
  </body>
</html>
<script is:inline src="/shared/scripts/scroll-timeline.js"></script>
<script>
  import './_script.js';
</script>