---
import './style.css';
---
<html>
  <head>
    <title>TypeStyle</title>
  </head>
  <body>
    <div class="grid">
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
    </div>
  </body>
</html>