---
import './style.css';
---
<html>
  <head>
    <title>First Pop-up</title>
  </head>
  <body>
    <ul>
      <li>
        <h1>Scroll 👇</h1>
      </li>
      <li>
        <img src="/shared/images/starry-night.jpeg" alt="">
      </li>
      <li>
        <img src="/shared/images/night-mountain.jpeg" alt="">
      </li>
      <li>
        <img src="/shared/images/starry-night.jpeg" alt="">
      </li>
      <li>
        <img src="/shared/images/night-mountain.jpeg" alt="">
      </li>
      <li>
        <img src="/shared/images/starry-night.jpeg" alt="">
      </li>
      <li>
        <img src="/shared/images/night-mountain.jpeg" alt="">
      </li>
    </ul>
    <script is:inline src="/shared/scripts/scroll-timeline.js"></script>
  </body>
</html>
