---
import './style.css';
---
<html>
  <head>
    <title>First Pop-up</title>
  </head>
  <body>
    <section>
      <h1>Scroll 👇</h1>
    </section>
    <section>
      <img src="/shared/images/starry-night.jpeg" alt="">
    </section>
    <section>
      <img src="/shared/images/night-mountain.jpeg" alt="">
    </section>
    <section>
      <img src="/shared/images/starry-night.jpeg" alt="">
    </section>
    <section>
      <img src="/shared/images/night-mountain.jpeg" alt="">
    </section>
    <section>
      <img src="/shared/images/starry-night.jpeg" alt="">
    </section>
    <section>
      <img src="/shared/images/night-mountain.jpeg" alt="">
    </section>
    <script is:inline src="/shared/scripts/scroll-timeline.js"></script>
  </body>
</html>
