<!doctype html>
<html lang="en">
  <head>
    <title>cubies</title>
  </head>
  <body>
    <main>
      <h1>Tap to splat!</h1>
    </main>
  </body>
</html>

<script>
  import './_script.js';
  import './style.css';
</script>