@import "normalize.css";
@import "open-props/style";

@font-face {
  font-family: Impact;
  src: url(/shared/fonts/impact.ttf);
}

* {
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  overflow: hidden;
}

h1 {
  margin: 0;
  font-family: 'Impact', sans-serif;
  color: var(--gray-9);
  text-transform: uppercase;
  font-size: 10vmin;
}
svg {
  width: 25vmin;
  aspect-ratio: 1;
  overflow: visible !important;
  position: absolute;
  top: calc(var(--y) * 1px);
  left: calc(var(--x) * 1px);
  transform: translate(-50%, -50%);
}