<html>
	<head>
		<title>Basic Card</title>
	</head>
	<body>
		<form onsubmit="e => preventDefault()">
			<div class="form-group">
				<label for="email" class="form-group__label">Email</label>
				<input
					required
					type="email"
					id="email"
					class="form-input"
					title="Enter valid email address"
					placeholder="Enter valid email address"
				/>
				<div class="form-group__error">Enter a valid email address</div>
			</div>
			<div class="form-group">
				<label for="password" class="form-group__label">Password</label>
				<input
					required=""
					type="password"
					id="password"
					class="form-input"
					placeholder="Password"
					title="Password must be at least 8 characters"
					pattern=".{8,}"
				/>
				<div class="form-group__error">Password must be at least 8 characters</div>
			</div>
			<button type="submit">Submit</button>
		</form>
	</body>
</html>
<script>
	import "./style.css";
</script>
