---
  import './style.css'
---
<html>
  <head>
    <title>Has Nav</title>
  </head>
  <body>
    <img class="cheez" src="/shared/images/i-can-has-cheezburger.jpeg" style="--x:42.1055; --y:41.6941; --r:-9.7955;">
    <div class="ðŸ±">
      <div class="ðŸ”"></div>
    </div>
  </body>
</html>
