---
import './style.css';
---

<html>
  <head>
    <title>First Pop-up</title>
  </head>
  <body>
    <div id="my-first-pop-up" popover>Not in top layer</div>
    <button class="button ripple" popovertoggletarget="my-first-pop-up">Ascend</button>
  </body>
  <script>
    import './_script.js'
  </script>
</html>
