---
import './style.css';
---

<html>
  <head>
    <title>First Pop-up</title>
  </head>
  <body>
    <main>
      <div popover="manual" defaultopen id="pop-start">
        <div class="window">
          <div class="title-bar">
            <div class="title-bar-text">Error</div>
            <div class="title-bar-controls">
              <button aria-label="Close" popoverhidetarget="pop-start"></button>
            </div>
          </div>
          <div class="window-body">
            <div class="content">
              <img src="/shared/images/error.png" alt="">
              <p>
                Error: Slide.exe has errored!
              </p>
            </div>
            <button popoverhidetarget="pop-start">Close</button>
          </div>
        </div>
      </div>
    </main>
    <script>import "./_script.js"</script>
  </body>
</html>
