@layer normalize, open-props, mdl, base, demo;



@import "normalize.css" layer(normalize);
@import "open-props/style" layer(open-props);
@import "open-props/normalize" layer(open-props);
@import url(xp.css) layer(xp);

@import url("../../../../../public/shared/css/mdl.css") layer(mdl);
@import url("../../../../../public/shared/css/icons.css") layer(mdl);

@layer base {
  *,
  *:after,
  *:before {
    box-sizing: border-box;
  }

  body {
    display: grid;
    place-items: center;
    min-height: 100vh;
    font-family: "Google Sans", sans-serif, system-ui;
    position: relative;
    overflow: hidden;
    background: var(--gray-0);
  }
}



@layer base {
  *,
  *:after,
  *:before {
    box-sizing: border-box;
  }

  body {
    display: grid;
    place-items: center;
    min-height: 100vh;
    font-family: Arial, system-ui;
    align-content: center;
  }

  :where([popup]) {
    margin: auto;
    border-width: initial;
    border-style: solid;
  }
}

@layer demo {
  [popup] {
    padding: var(--size-4);
  }
  [popup] {
    transform: translate(-50%, -50%);
    position: fixed;
    top: calc(var(--y, 540) * 1px);
    left: calc(var(--x, 960) * 1px);
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    overflow: visible;
  }

  .window-body {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
  }

  .window-body p {
    padding: var(--size-2);
    font-family: Arial;
    font-size: 12px;
    min-width: 200px;
  }

  .window-body img {
    height: 44px;
    width: 44px;
  }

  .window-body .content {
    display: grid;
    grid-template-columns: 44px auto;
    align-items: center;
    gap: 0.25rem;
    padding: 0 1rem;
  }

  .title-bar {
    min-height: 28px;
  }

  .title-bar-controls button {
    height: 21px;
  }
  button {
    height: auto;
    color: #000;
  }
}
