<html>
	<head>
		<title>EQ Range Inputs</title>
	</head>
	<body class='stripped'>
		<main></main>
	</body>
</html>
<script>
	import './style.css';
	import './_script.js';
</script>
<style>
	* {
	  box-sizing: border-box;
	}
	html {
	  overflow: hidden;
	}
	body {
	  min-height: 100vh;
	  display: grid;
	  place-items: center;
	}
	.stripped > main {
		display: grid;
	  grid-template-columns: repeat(var(--input-count, 16), 10px);
	  justify-content: center;
	  gap: 0.1rem;
		scale: 2;
	}
	.stripped input {
	  pointer-events: none;
	  accent-color: hsl(var(--accent, 130), 100%, 60%);
	  transform: translateX(-50%) rotate(-90deg);
	  width: 120px;
	}
	.stripped ::-webkit-slider-thumb {
	  opacity: 0;
	}
	.stripped ::-moz-range-thumb {
	  opacity: 0;
	}
</style>