input {
  pointer-events: none;
  accent-color: hsl(var(--accent, 130), 100%, 60%);
  transform: translateX(-50%) rotate(-90deg);
  width: 120px;
}
::-webkit-slider-thumb {
  opacity: 0;
}
::-moz-range-thumb {
  opacity: 0;
}