---
import './style.css';
---

<!DOCTYPE html>
<html lang="en" class="anchoring-support">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=0, maximum-scale=1.0"
    />
    <title>experimental-css-primitives/anchoring/anchor-compass</title>
  </head>
  <body>
    <main>
      <div class="anchored" data-intersected="false">
        <svg viewBox="0 0 193 136" fill="none" xmlns="http://www.w3.org/2000/svg">
          <mask id="path-1-inside-1_1_66" fill="white">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M147.855 111.992C157.925 100.133 164 84.7761 164 68C164 30.4446 133.555 0 96 0C58.4446 0 28 30.4446 28 68C28 84.8139 34.1024 100.203 44.2133 112.072C17.6101 114.387 0 118.416 0 123C0 130.147 42.8145 135.947 95.7773 136C95.8515 136 95.9257 136 96 136C96.0393 136 96.0785 136 96.1178 136C96.2451 136 96.3725 136 96.5 136C149.795 136 193 130.18 193 123C193 118.363 174.978 114.293 147.855 111.992Z"/>
          </mask>
          <circle cx="96" cy="68" r="67" fill="#B3FEB6" stroke="var(--gray-8)" stroke-width="2"/>
          <g class="cream__splat">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M147.855 111.992C157.925 100.133 164 84.7761 164 68C164 30.4446 133.555 0 96 0C58.4446 0 28 30.4446 28 68C28 84.8139 34.1024 100.203 44.2133 112.072C17.6101 114.387 0 118.416 0 123C0 130.147 42.8145 135.947 95.7773 136C95.8515 136 95.9257 136 96 136C96.0393 136 96.0785 136 96.1178 136C96.2451 136 96.3725 136 96.5 136C149.795 136 193 130.18 193 123C193 118.363 174.978 114.293 147.855 111.992Z" fill="#B3FEB6"/>
            <path d="M147.855 111.992L146.33 110.697L143.817 113.656L147.686 113.985L147.855 111.992ZM44.2133 112.072L44.3867 114.064L48.2515 113.728L45.7358 110.775L44.2133 112.072ZM95.7773 136L95.7839 134L95.7793 134L95.7773 136ZM96.1178 136L96.1187 134L96.1147 134L96.1178 136ZM162 68C162 84.2843 156.105 99.1866 146.33 110.697L149.379 113.286C159.745 101.08 166 85.2679 166 68H162ZM96 2C132.451 2 162 31.5492 162 68H166C166 29.3401 134.66 -2 96 -2V2ZM30 68C30 31.5492 59.5492 2 96 2V-2C57.3401 -2 26 29.3401 26 68H30ZM45.7358 110.775C35.9215 99.2538 30 84.321 30 68H26C26 85.3068 32.2834 101.151 42.6909 113.369L45.7358 110.775ZM2 123C2 123.115 1.93549 123.022 2.24851 122.697C2.56873 122.365 3.14654 121.942 4.07903 121.464C5.93733 120.512 8.7913 119.551 12.6008 118.629C20.1872 116.793 31.127 115.218 44.3867 114.064L44.04 110.079C30.6965 111.24 19.5295 112.837 11.6601 114.741C7.74168 115.689 4.53043 116.739 2.25548 117.904C1.12135 118.485 0.115533 119.147 -0.631226 119.921C-1.38517 120.703 -2 121.739 -2 123H2ZM95.7793 134C69.358 133.974 45.5071 132.513 28.2964 130.179C19.6764 129.009 12.8037 127.631 8.127 126.134C5.77469 125.381 4.0964 124.635 3.04643 123.94C1.90033 123.182 2 122.832 2 123H-2C-2 124.955 -0.562381 126.349 0.839831 127.277C2.33816 128.268 4.41853 129.147 6.90761 129.944C11.9137 131.546 19.0548 132.962 27.7588 134.142C45.196 136.508 69.2338 137.973 95.7753 138L95.7793 134ZM96 134C95.9276 134 95.8556 134 95.7839 134L95.7707 138C95.8474 138 95.9238 138 96 138V134ZM96.1147 134C96.0759 134 96.0378 134 96 134V138C96.0408 138 96.0812 138 96.1209 138L96.1147 134ZM96.5 134C96.373 134 96.2459 134 96.1187 134L96.1168 138C96.2443 138 96.3721 138 96.5 138V134ZM191 123C191 122.831 191.099 123.186 189.94 123.949C188.878 124.648 187.183 125.399 184.81 126.155C180.091 127.657 173.158 129.04 164.469 130.21C147.119 132.548 123.087 134 96.5 134V138C123.208 138 147.427 136.542 165.003 134.174C173.776 132.993 180.976 131.573 186.024 129.966C188.533 129.167 190.63 128.284 192.139 127.29C193.55 126.361 195 124.963 195 123H191ZM147.686 113.985C161.205 115.132 172.379 116.714 180.134 118.565C184.028 119.495 186.951 120.467 188.857 121.432C189.814 121.916 190.409 122.347 190.741 122.686C191.066 123.02 191 123.117 191 123H195C195 121.724 194.371 120.679 193.604 119.894C192.844 119.114 191.82 118.448 190.663 117.863C188.343 116.688 185.065 115.63 181.063 114.675C173.026 112.756 161.627 111.153 148.024 109.999L147.686 113.985Z" fill="var(--gray-8)" mask="url(#path-1-inside-1_1_66)"/>
          </g>
          <!-- <circle cx="96" cy="68" r="67" fill="#B3FEB6" stroke="var(--gray-8)" stroke-width="2"/> -->
          <g class="face">
            <g class="face__eyes" clip-path="url(#eye-clip)">
              <ellipse cx="70" cy="57.4398" rx="6" ry="5.55869" fill="var(--gray-8)"/>
              <ellipse cx="68" cy="55.5869" rx="2" ry="1.8529" fill="white"/>
              <ellipse cx="122" cy="57.4398" rx="6" ry="5.55869" fill="var(--gray-8)"/>
              <ellipse cx="120" cy="55.5869" rx="2" ry="1.8529" fill="white"/>
            </g>
            <!-- <circle cx="60" cy="72" r="4" fill="#D9D9D9"/> -->
            <circle cx="60" cy="72" r="4" fill="#FEA9A9"/>
            <circle cx="132" cy="72" r="4" fill="#FEA9A9"/>
            <path class="face__smile" d="M103 68C103 71.866 99.866 75 96 75C92.134 75 89 71.866 89 68" stroke="var(--gray-8)" stroke-width="2" stroke-linecap="round"/>
            <g class="face__joy">
              <path d="M104 68C104 72.4183 100.418 76 96 76C91.5817 76 88 72.4183 88 68C88 68 91.5817 68 96 68C100.418 68 104 68 104 68Z" fill="var(--gray-8)"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M102.401 72.8001C100.941 74.7432 98.6173 76 96 76C96 76 96 76 96 76C96 73.7909 97.7909 72 100 72C100.901 72 101.732 72.2977 102.401 72.8001Z" fill="#FF1515"/>
            </g>
          </g>
          <path fill="none" d="M81.8802 12C74.3145 14.2009 67.2565 17.8705 61.1089 22.7991C54.9614 27.7278 49.8449 33.819 46.0514 40.725C42.2579 47.6311 39.8619 55.2166 39 63.0487" stroke="var(--gray-0)" stroke-width="9" stroke-linecap="round"/>
          <defs>
            <clipPath id="eye-clip">
              <rect class="blinker" x="36" y="51" width="200" height="12"></rect>
            </clipPath>
          </defs>
        </svg>

        <!-- <svg width="136" height="136" viewBox="0 0 136 136" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="68" cy="68" r="67" fill="var(--green-2)" stroke="var(--gray-8)" stroke-width="2"/>
          <g class="face">
            <g class="face__eyes" clip-path="url(#eye-clip)">
              <ellipse cx="42" cy="57.4398" rx="6" ry="5.55869" fill="var(--gray-8)"/>
              <ellipse cx="40" cy="55.5869" rx="2" ry="1.8529" fill="white"/>
              <ellipse cx="94" cy="57.4398" rx="6" ry="5.55869" fill="var(--gray-8)"/>
              <ellipse cx="92" cy="55.5869" rx="2" ry="1.8529" fill="white"/>
            </g>
            <circle cx="32" cy="72" r="4" fill="#FEA9A9"/>
            <circle cx="104" cy="72" r="4" fill="#FEA9A9"/>
            <path class="face__smile" d="M75 68C75 71.866 71.866 75 68 75C64.134 75 61 71.866 61 68" stroke="var(--gray-8)" stroke-width="2" stroke-linecap="round"/>
            <g class="face__joy">
              <path d="M76 68C76 72.4183 72.4183 76 68 76C63.5817 76 60 72.4183 60 68C60 68 63.5817 68 68 68C72.4183 68 76 68 76 68Z" fill="var(--gray-8)"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M74.4005 72.8001C72.941 74.7432 70.6173 76 68 76C68 76 68 76 68 76C68 73.7909 69.7909 72 72 72C72.9007 72 73.7319 72.2977 74.4005 72.8001Z" fill="#FF1515"/>
            </g>
          </g>
          <defs>
            <clipPath id="eye-clip">
              <rect class="blinker" x="36" y="51" width="200" height="12"></rect>
            </clipPath>
          </defs>
        </svg> -->
      </div>
      <div class="anchor-wrap">
        <div class="anchor">
          <svg viewBox="0 0 133 221" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M5 15H127L75.5866 188.204C72.755 197.743 59.245 197.743 56.4134 188.204L5 15Z" fill="#F2DA89"/>
            <mask id="mask0_1_121" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="5" y="15" width="122" height="181">
            <path d="M57.3721 187.92L6.33996 16H125.66L74.6279 187.92C72.0795 196.505 59.9205 196.505 57.3721 187.92Z" fill="#F2DA89" stroke="var(--gray-8)" stroke-width="2"/>
            </mask>
            <g mask="url(#mask0_1_121)">
              <line x1="-23.274" y1="44.0383" x2="155.726" y2="-6.96172" stroke="#C7A325" stroke-width="2"/>
              <line x1="-23.274" y1="57.0383" x2="155.726" y2="6.03828" stroke="#C7A325" stroke-width="2"/>
              <line x1="-23.274" y1="70.0383" x2="155.726" y2="19.0383" stroke="#C7A325" stroke-width="2"/>
              <line x1="-23.274" y1="83.0383" x2="155.726" y2="32.0383" stroke="#C7A325" stroke-width="2"/>
              <line x1="-23.274" y1="96.0383" x2="155.726" y2="45.0383" stroke="#C7A325" stroke-width="2"/>
              <line x1="-23.274" y1="109.038" x2="155.726" y2="58.0383" stroke="#C7A325" stroke-width="2"/>
              <line x1="-23.274" y1="122.038" x2="155.726" y2="71.0383" stroke="#C7A325" stroke-width="2"/>
              <line x1="-23.274" y1="135.038" x2="155.726" y2="84.0383" stroke="#C7A325" stroke-width="2"/>
              <line x1="-23.274" y1="148.038" x2="155.726" y2="97.0383" stroke="#C7A325" stroke-width="2"/>
              <line x1="-23.274" y1="161.038" x2="155.726" y2="110.038" stroke="#C7A325" stroke-width="2"/>
              <line x1="-23.274" y1="174.038" x2="155.726" y2="123.038" stroke="#C7A325" stroke-width="2"/>
              <line x1="-23.274" y1="187.038" x2="155.726" y2="136.038" stroke="#C7A325" stroke-width="2"/>
              <line x1="-23.274" y1="200.038" x2="155.726" y2="149.038" stroke="#C7A325" stroke-width="2"/>
              <line x1="-23.274" y1="213.038" x2="155.726" y2="162.038" stroke="#C7A325" stroke-width="2"/>
              <line x1="-23.274" y1="226.038" x2="155.726" y2="175.038" stroke="#C7A325" stroke-width="2"/>
              <line x1="50.0157" y1="0.0246389" x2="212.65" y2="90.5343" stroke="#C7A325" stroke-width="2"/>
              <line x1="40.8233" y1="9.21702" x2="203.458" y2="99.7267" stroke="#C7A325" stroke-width="2"/>
              <line x1="31.6309" y1="18.4094" x2="194.265" y2="108.919" stroke="#C7A325" stroke-width="2"/>
              <line x1="22.4386" y1="27.6018" x2="185.073" y2="118.111" stroke="#C7A325" stroke-width="2"/>
              <line x1="13.2462" y1="36.7942" x2="175.881" y2="127.304" stroke="#C7A325" stroke-width="2"/>
              <line x1="4.05379" y1="45.9866" x2="166.688" y2="136.496" stroke="#C7A325" stroke-width="2"/>
              <line x1="-5.13859" y1="55.179" x2="157.496" y2="145.689" stroke="#C7A325" stroke-width="2"/>
              <line x1="-14.331" y1="64.3713" x2="148.304" y2="154.881" stroke="#C7A325" stroke-width="2"/>
              <line x1="-23.5234" y1="73.5637" x2="139.111" y2="164.073" stroke="#C7A325" stroke-width="2"/>
              <line x1="-32.7158" y1="82.7561" x2="129.919" y2="173.266" stroke="#C7A325" stroke-width="2"/>
              <line x1="-41.9082" y1="91.9485" x2="120.726" y2="182.458" stroke="#C7A325" stroke-width="2"/>
              <line x1="-51.1005" y1="101.141" x2="111.534" y2="191.651" stroke="#C7A325" stroke-width="2"/>
              <line x1="-60.2929" y1="110.333" x2="102.342" y2="200.843" stroke="#C7A325" stroke-width="2"/>
              <line x1="-69.4853" y1="119.526" x2="93.1492" y2="210.035" stroke="#C7A325" stroke-width="2"/>
              <line x1="-78.6777" y1="128.718" x2="83.9568" y2="219.228" stroke="#C7A325" stroke-width="2"/>
            </g>
            <path d="M57.3721 187.92L6.33996 16H125.66L74.6279 187.92C72.0795 196.505 59.9205 196.505 57.3721 187.92Z" stroke="var(--gray-8)" stroke-width="2" fill="none"/>
            <rect x="1" y="1" width="131" height="29" rx="9" fill="#F2DA89" stroke="var(--gray-8)" stroke-width="2"/>
          </svg>
        </div>
      </div>
    </main>
    <div class="floor"></div>
  </body>
  <script is:inline src="/licensed/InertiaPlugin.min.js"></script>
</html>
<script>
  import "./_script.js";
</script>
