---
  import './style.css'
---
<html>
  <head>
    <title>Has Nav</title>
  </head>
  <body>
    <nav>
      <button class="nav-control"
          aria-haspopup="true"
          aria-expanded="false"
          aria-controls="nav"
          aria-pressed="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span class="sr-only">Toggle Menu</span>
      </button>
      <ul>
        <li>Home</li>
        <li>About</li>
        <li>Writing</li>
      </ul>
    </nav>
    <header>
      <h1>Some Awesome Site</h1>
    </header>
    <main>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus
        explicabo magnam exercitationem inventore quo voluptatum assumenda quasi
        dolorem eveniet ab! Non voluptas, quia maiores repellat perspiciatis
        officia magni adipisci illum?
      </p>
      <p>
        Odio minima animi voluptates dolor ut repellat temporibus saepe suscipit
        corrupti esse, facere mollitia assumenda magnam similique repudiandae
        sit expedita sequi omnis ipsum. Deserunt animi ex consequatur saepe,
        iure rerum?
      </p>
      <p>
        Exercitationem, qui. Accusantium fugit nisi cupiditate, enim molestiae
        praesentium debitis sed cumque nobis architecto nostrum error voluptatem
        ea voluptatibus eligendi adipisci? Veniam hic reiciendis placeat quo,
        maiores architecto cum enim.
      </p>
      <p>
        At eligendi tempore animi? Sed quisquam amet deserunt corporis rerum rem
        cum incidunt recusandae iste aliquam. Vitae, excepturi unde commodi illo
        minima, ea pariatur vero laudantium illum possimus harum inventore.
      </p>
      <p>
        Accusantium fugit, culpa ab nulla voluptatibus itaque iste dicta illum
        dolor, ullam distinctio ex eum? Alias, cum. Hic fugiat harum alias eos
        sequi nobis facere vitae fuga, aliquam nostrum unde!
      </p>
    </main>
  </body>
</html>
<script>
  import "./_script.js";
</script>
