---
import './style.css';
---

<html>
  <head>
    <title>First Pop-up</title>
  </head>
  <body>
    <main>
      <h1>Poppers!</h1>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam eveniet minima laudantium cum error itaque temporibus aperiam enim. Dolorem perferendis rerum, atque praesentium? Dolor fuga quaerat dolore, blanditiis ex illo.</p>
      <p>Officia nesciunt veritatis ut eius consequuntur consectetur velit quo quam dolorem laudantium laboriosam vero voluptates, quas eum error odit exercitationem dolorum sit harum sed distinctio qui soluta! Sed, eveniet earum.</p>
      <p>Est magni qui similique deleniti quo id in sed ducimus, impedit adipisci porro ullam a labore praesentium voluptatibus laborum placeat iste nihil provident itaque magnam inventore. Placeat est porro vero.</p>
      <p>Asperiores, ad, cumque. Fuga blanditiis sint expedita provident, libero error unde suscipit laboriosam possimus tempora quia aliquam quis sed numquam molestias, aut magnam odio vitae rerum rem at! Reiciendis, voluptates!</p>
      <p>Rerum sapiente nam voluptatem deserunt molestias cum nulla inventore porro corporis illum exercitationem, est, at, blanditiis, reprehenderit maiores debitis iure odit commodi illo quo adipisci. Animi natus, cupiditate inventore eveniet.</p>
      <p>Harum, dolorem, tenetur praesentium optio obcaecati perspiciatis maiores cupiditate, quisquam illo voluptatum vitae at, consequuntur repellat ratione a architecto! Odio animi adipisci maxime, eum, quasi laborum tempore mollitia nam deleniti!</p>
      <p>A enim cupiditate natus odio, nostrum numquam quasi exercitationem assumenda fugit dolores quam minima nisi recusandae nihil voluptatum error illum rerum, laudantium quidem dolorum dignissimos praesentium, nesciunt. Doloremque, molestiae, aut.</p>
      <p>Sunt nobis cumque vel maiores nisi quod eaque excepturi nostrum provident dolorum. Eius, rem beatae qui ipsa, similique dolorum quam tenetur accusantium vel possimus labore facere tempora fugit alias hic?</p>
      <p>Dolorum commodi, dolor sunt necessitatibus iusto laboriosam voluptatem voluptas odit repellat cupiditate rem deleniti saepe impedit optio quam dolore nobis voluptate reprehenderit quasi sequi? Laboriosam, cupiditate maiores quaerat quibusdam quam!</p>
      <p>Autem dicta excepturi, vero voluptatibus molestias ex optio reprehenderit tenetur non nobis aliquid nulla cupiditate itaque quasi laboriosam maiores minima et rerum recusandae veritatis error pariatur ut iusto. Minus, cupiditate.</p>
    </main>
    <script>
      import "./script.js"
    </script>
  </body>
</html>
