---
import './style.css';
---
<html>
  <head>
    <title>First Pop-up</title>
  </head>
  <body>
    <div id="my-first-pop-up" popup>Pop-up content!</div>
    <button class="button ripple" popuptoggletarget="my-first-pop-up">Toggle Pop-up</button>
  </body>
</html>