---
import './style.css';
---

<html>
  <head>
    <title>First Pop-up</title>
  </head>
  <body>
    <header>
      <h1>[popover] notifications</h1>
      <p>Put the toaster in the top layer!</p>
    </header>
    <main>
      <button class="">
        Make Toast!&nbsp;🍞
      </button>
      <p>Notifications usually need to be above the rest of your content. Use an element in the top layer to show them.</p>
      <p>Lorem, ipsum dolor sit amet consectetur, adipisicing elit. Molestiae iusto nesciunt, quam magnam quis, facilis quod harum. Adipisci necessitatibus, repudiandae modi. Quibusdam ut incidunt dignissimos temporibus reprehenderit quo id exercitationem.</p>
      <p>Consectetur, illo vero vel itaque doloremque, exercitationem nobis repellat. Quae sunt ea officia asperiores quisquam architecto iusto, deleniti. Illum delectus dolores nesciunt maiores molestias quos, aspernatur quia vero ipsa, natus.</p>
      <p>Reiciendis eveniet magnam sequi sapiente omnis laudantium beatae aspernatur officiis amet excepturi, repellat! Et, dolorem, dignissimos? Natus, repellat cumque quod, beatae nulla quos delectus autem officia eum minus, quae nobis.</p>
      <p>Officia quaerat eveniet suscipit consectetur, quasi, ducimus laborum accusamus quibusdam facere repellendus, quae nemo rem, nesciunt perferendis. Iste ex adipisci ducimus incidunt quo dolore, deserunt nemo corporis ipsam ad soluta.</p>
      <p>Enim fuga, dicta incidunt inventore quibusdam earum accusantium magnam repellat maxime, assumenda iusto porro, maiores officia facilis quia. Commodi odio deserunt, dolor sint sapiente, cupiditate fugiat pariatur laborum temporibus cum!</p>
      <p>Distinctio non necessitatibus amet quam quae dolores provident doloremque incidunt commodi, iusto quasi aliquam officia maxime quod unde porro nostrum aspernatur illo tenetur sint blanditiis eum esse, voluptatum quibusdam eius.</p>
      <p>Ex voluptatum rerum eius aspernatur minima fugit sit iusto mollitia sint eligendi in aliquid, possimus magnam officiis dolor eaque recusandae quidem harum deleniti ullam. Sapiente dolores adipisci, placeat quasi nobis.</p>
      <p>Est, officia ad ipsam similique ipsum. Incidunt eum quo vero officia in molestias perferendis vitae, cupiditate officiis rem inventore asperiores labore ea obcaecati nesciunt! Nemo eum, voluptas esse odit quidem.</p>
      <p>Impedit tenetur ipsum possimus culpa, commodi ea exercitationem debitis similique quidem, officiis nisi facilis aliquam autem perferendis, cum nostrum inventore aperiam sit, eum? Dolore modi, sed odio, qui unde aperiam!</p>
      <p>Ducimus, laboriosam at voluptates, magnam porro facere repellendus distinctio, a possimus esse reprehenderit atque nesciunt quia repudiandae. Quae et numquam omnis odio deserunt beatae dolorem perspiciatis ratione consectetur mollitia, natus?</p>
    </main>
    <script>
      import "./_script.js";
    </script>
    <div popover="manual" class="toasts">
      <ul class="toasts__drawer"></ul>
    </div>
  </body>
</html>
