---
import './style.css';
---

<html>
  <head>
    <title>First Pop-up</title>
  </head>
  <body>
    <svg
      class="inactivity-ring"
      viewBox="0 0 50 50"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <circle
        cx="25"
        cy="25"
        r="20"
        stroke-width="10"
        stroke-linejoin="round"
      />
    </svg>
    <main>
      <header>
        <h1>Is it all just [popover]?</h1>
      </header>
      <article>
        <p>
          You could put anything into a <code>[popover]</code>. What's a <code>[popover]</code> and what isn't?
        </p>
        <div>
          <button class="button ripple" popovertoggletarget="rain">
            Are Popovers... the one?
          </button>
        </div>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum, animi veritatis delectus. Provident, hic consequuntur quo commodi, illo amet totam quod facere aliquid tempora illum voluptatibus, neque rem maiores, ex.</p>
        <p>Obcaecati blanditiis deleniti, facere, repellat debitis itaque fugiat eveniet. Mollitia alias eligendi, doloribus, repellat veritatis nihil nobis culpa esse quod necessitatibus exercitationem qui? Quia, rem placeat accusamus, numquam minus debitis.</p>
        <p>Placeat facere magnam laborum consequatur perferendis ea sequi ducimus quos, odio minima, excepturi tenetur nostrum reprehenderit iure saepe? Nulla, adipisci cumque dolores. Pariatur, ipsa rem ratione labore fuga perspiciatis mollitia.</p>
        <p>Commodi deleniti porro hic repellat minima culpa, qui dignissimos odit, debitis, iusto consectetur, architecto sint at? Voluptatibus dolore, enim et reiciendis? Quis voluptatibus ex placeat, nam, suscipit molestias ullam perferendis.</p>
        <p>Iusto aliquid velit necessitatibus quaerat, debitis earum modi labore totam aliquam eum dignissimos pariatur deserunt veniam maiores obcaecati expedita excepturi in voluptates optio neque. Consequatur ratione totam dolores ducimus earum!</p>
        <p>Tempora sit, magnam totam necessitatibus quasi. Ex ipsam corporis labore consectetur ducimus atque laborum, qui repudiandae omnis nisi amet exercitationem adipisci quidem sit tempore similique. Id eum non, optio quas.</p>
        <p>Quisquam minima ipsam ratione maiores sunt animi numquam minus, iure porro earum! Harum ratione sequi voluptas porro, velit tenetur! Saepe commodi, dignissimos. Cumque veniam distinctio eum provident nesciunt libero. Inventore?</p>
        <p>Velit, ullam. Minima recusandae, atque quas accusantium commodi voluptates tempore voluptatibus? Perspiciatis tenetur, ea quaerat magni, tempore dolor ipsam aliquid. Praesentium dignissimos quidem corporis ipsum corrupti iure doloremque porro dolorum.</p>
        <p>Veritatis quas similique hic harum rerum. Non maxime saepe quis magni nobis. Beatae ex id, consequuntur, doloremque amet, hic corporis maiores nemo error esse aliquam assumenda perspiciatis eius optio nihil.</p>
        <p>Nihil, doloribus, exercitationem sed officiis cum, eius, inventore quo consequatur eum non obcaecati labore error in. Repellendus veniam possimus blanditiis et consequatur soluta dolor ad, magnam. Maiores beatae eligendi quibusdam.</p>
      </article>
    </main>
    <canvas
      id="rain"
      class="rain"
      popover="auto"
    ></canvas>
    <script>
      import "./_script.js";
    </script>
  </body>
</html>
