.block-reveal {
  text-align: left;
  display: inline-block;
}


.present .block-reveal h1 {
  animation-name: text-reveal, shimmy;
  animation-duration: var(--speed);
  animation-delay: calc((1 + var(--index)) * (var(--speed) / 3));
  animation-fill-mode: both;
  animation-timing-function: steps(1), ease-out;
}

.block-reveal h1 {
  --color: var(--color-one);
  color: var(--color);
  position: relative;
  clip-path: inset(-20% 0);
  font-family: 'Google Sans', sans-serif;
  text-transform:  none;
  margin: 0;
  line-height: 1;
}

@keyframes shimmy {
  0% {
    transform: translateX(-1ch);
  }
}

@keyframes text-reveal {
  0% {
    color: transparent;
  }
  50%, 100% {
    color: var(--color);
  }
}

.present .block-reveal h1:after {
  content: "";
  position: absolute;
  inset: -20% 0;
  background-color: var(--color);
  animation-name: block-reveal;
  animation-duration: var(--speed);
  animation-delay: calc((1 + var(--index)) * (var(--speed) / 3));
  animation-fill-mode: both;
}

@keyframes block-reveal {
  0% {
    transform: translateX(-110%);
  }
  45%, 55% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(110%);
  }
}

.block-reveal h1:after {
  --speed: 0.65s;
  --color-one: #ea4335;
  --color-two: #4285f4;
  --color-three: #34a853;
}


.block-reveal h1:nth-of-type(1),
.block-reveal h1:nth-of-type(1):after {
  --color: var(--color-three);
  --index: 0;
}

.block-reveal h1:nth-of-type(2),
.block-reveal h1:nth-of-type(2):after {
  --color: var(--color-four);
  --index: 1;
}

.block-reveal h1:nth-of-type(3),
.block-reveal h1:nth-of-type(3):after {
  --color: var(--color-one);
  --index: 2;
}
