<html>
  <head>
    <title>Has Nav</title>
  </head>
  <body>
    <ul>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </body>
</html>
<script>
  import "./style.css";
</script>
