---
import './style.css';
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Detecting Orientation</title>
    <meta charset="UTF-8">
    <meta name="robots" content="noindex">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0" />
  </head>
  <body>
    <main>
      <h1>Remember that game?</h1>
      <h2>You know the one, right?</h2>
      <button popover=manual>Unleash Fury</button>
      <p>Lorem, ipsum, dolor sit amet consectetur adipisicing elit. Pariatur sunt earum adipisci aperiam aliquam eum, perferendis illo facere repellendus minima dolorum, accusantium eaque optio blanditiis! Laboriosam ipsam ab dignissimos fugiat.</p>
      <img src="https://picsum.photos/400/300?random=12" alt=""/>
      <p>Possimus placeat excepturi praesentium sint, iste recusandae voluptas, animi maxime aliquam deleniti accusamus nulla dignissimos architecto quas dolore commodi ex a quasi rerum? Nihil aliquid explicabo nam sed sint, natus.</p>
      <p>Optio illum molestias, suscipit ipsum, ab quisquam quod voluptatum velit commodi officia rem culpa repudiandae facere incidunt reiciendis, tempora amet eaque earum, placeat veritatis eum ut quo. Non, quo, voluptates.</p>
      <p>Quam qui hic voluptas quaerat cupiditate odio saepe reiciendis necessitatibus inventore sint obcaecati, voluptate dolorem commodi doloribus temporibus! Eos eligendi, harum. Distinctio consequatur voluptas, labore aspernatur beatae maiores quas deserunt.</p>
      <p>Numquam, repellendus eligendi! Dignissimos sequi eius hic tempore cupiditate quibusdam vitae sint placeat, asperiores tenetur voluptates, repudiandae ad facere suscipit eligendi quam? Recusandae repellendus excepturi, corrupti ipsum nemo assumenda sint.</p>
      <img popover=manual class="fireball" src="/shared/images/fireball.png" />
    </main>
    <script>
      import "./_script.js";
    </script>
  </body>
</html>