---
import "./style.css";
---
<html class='has-support'>
  <head>
    <title>Emoji Chucking</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0, maximum-scale=1.0"/>
  </head>
  <body>
    <main>
      <span class='instruction'>Start Speaking!</span>
    </main>
    <div class="recording-status"></div>
    <span class="emojis"></span>
  </body>
  <script>
    import "./script.js";
  </script>
</html>