---
import './style.css';
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Detecting Orientation</title>
    <meta charset="UTF-8">
    <meta name="robots" content="noindex">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0" />
  </head>
  <body>
    <main>
      <button popover=manual>Activate</button>
      <div class=shake-it popover=manual>
        <h2>Push it real good!</h2>
      </div>
    </main>
    <script>
      import "./_script.js";
    </script>
  </body>
</html>