---
import './style.css';
---

<html>
  <head>
    <title>First Pop-up</title>
  </head>
  <body>
    <div popup="manual" class="toasts">
      <ul class="toasts__drawer"></ul>
    </div>
    <button class="button ripple">
      Add File&nbsp;<span role="img">🗂</span>
    </button>
    <script>
      import "./script.js";
    </script>
  </body>
</html>
