.content-warning {
  color: white;
  display: inline-grid;
  place-items: center;
  font-family:  'Google Sans', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}
.content-warning div {
  font-size: var(--fs, 1rem);
  background: black;
  width: 100%;
  padding: 1rem;
  letter-spacing: var(--sp);
}

.content-warning div:nth-of-type(1) {
  --fs: 4rem;
  --sp: 1rem;
}
.content-warning div:nth-of-type(2) {
  --fs: 7rem;
  --sp: 0.2rem;
  background: white;
  color: black; 
}
.content-warning div:nth-of-type(3) {
  --fs: 2.2rem;
  --sp: 0.2rem;
}
