@import "normalize.css" layer(normalize);
@import "open-props/style" layer(open-props);
@import "open-props/normalize" layer(open-props);

*,
*:after,
*:before {
  box-sizing: border-box;
  max-inline-size: 100%;
}

html {
  scroll-snap-type: y mandatory;
}

body {
  display: grid;
  place-items: center;
  overflow-x: hidden;
  font-family: 'Google Sans', sans-serif, system-ui;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

:is(li, section) {
  height: 100vh;
  width: 100vw;
  padding: 0;
}

ul.backdrops {
  position: fixed;
  inset: 0;
  z-index: -1;
}

ul.contents {
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow: auto;
}

section {
  display: grid;
  place-items: center;
  scroll-snap-align: center;
}

h2 {
  font-size: var(--font-size-fluid-3);
  color: var(--gray-0);
  background: hsl(0 0% 0% / 1);
  padding: var(--size-6);
  font-family: 'Impact', sans-serif;
  text-transform: uppercase;
  font-size: 8vmin;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: grayscale(0.5);
}

.backdrops li {
  position: absolute;
  inset: 0;
}

.backdrops li:not(:first-of-type) img {
  transform: translateY(100%);
}

.scroller {
  --radius: -2.25rem;
  text-transform: uppercase;
  color: var(--gray-0);
  font-weight: bold;
  position: fixed;
  top: 1rem;
  right: 2rem;
  aspect-ratio: 1;
  width: 6rem;
  animation: scroll-progress linear both;
  animation-timeline: scroll(root);
}

@keyframes scroll-progress {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}

.scroller:before {
  content: "";
  position: absolute;
  display: block;
  inset: 0;
  border-radius: 50%;
  border: 1.5rem solid hsl(0 0% 0% / 1);
}

.scroller .char {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(calc((360 / var(--char-total)) * var(--char-index) * 1deg)) translateY(var(--radius));
}