---
import './style.css';
---

<!DOCTYPE html>
<html lang="en" class="selectmenu-support">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=0, maximum-scale=1.0"
    />
    <title>openui-initiative/selectmenu/heading-select</title>
  </head>
  <body>
    <div class="selectmenu">
      <button>
        Select Font Size
      </button>
      <div role="listbox">
        <option value="normal">Normal</option>
        <option value="title">Title</option>
        <option value="subtitle">Subtitle</option>
        <option value="footnote">Footnote</option>
      </div>
    </div>
    <article>
      <img src="/shared/images/forest.jpg" alt="">
      <h2>Some Article</h1>
      <p>Check out this amazing article</p>
    </article>
  </body>
</html>