---
import './style.css';
---
<!doctype html>
<html lang="en" class="anchoring-support">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0, maximum-scale=1.0" />
    <title>experimental-css-primitives/anchoring/anchor-compass</title>
  </head>
  <body>
    <main>
      <p>
        The quick brown <a href=#>fox</a> jumped over the lazy dog.
      </p>
    </main>
    <div class="preview" popover=manual>
      <img src="https://picsum.photos/400/300?id=1" alt="">
      <p><strong>Lorem ipsum</strong> dolor sit amet consectetur adipisicing elit. Fuga repellendus tempore perferendis quidem. Numquam, debitis. <strong>At magni, fuga?</strong></p>
    </div>
  </body>
  <script is:inline src="/licensed/InertiaPlugin.min.js"></script>
</html>
<script>
  import './_script.js'
</script>