<html>
	<head>
		<title>Basic Input</title>
	</head>
	<body>
		<input type="range" min="0" max="100" value="0" step="1" />
	</body>
</html>
<script>
	import './style.css';
	import './_script.js';
</script>
<style>
	* {
		box-sizing: border-box;
	}

	body {
		display: grid;
		place-items: center;
		min-height: 100vh;
		margin: 0;
		overflow: hidden;
	}

	input {
		accent-color: hsl(var(--hue, 10) 80% 50%);
		transform: scale(2);
	}
</style>