@import "open-props/normalize";
@import "open-props/style";

body {
  display: grid;
  align-items: center;
  align-content: start;
  justify-content: center;
  padding: var(--size-4);
}

body > h1 {
  display: inline-block;
  margin-bottom: var(--size-6);
  text-align: center;
  background: var(--red-7);
  color: var(--gray-0);
}

li {
  font-weight: bold;
}

a:is(:visited) {
  color: var(--text-1);
}

a {
  text-decoration: underline;
  text-decoration-color: var(--red-3);
  text-decoration-thickness: var(--size-1);
}

a:visited {
  text-decoration-color: var(--red-2);
}

a:is(:hover) {
  text-decoration-color: var(--red-8);
}