@layer normalize, open-props, mdl, base, demo;



@import "normalize.css" layer(normalize);
@import "open-props/style" layer(open-props);
@import "open-props/normalize" layer(open-props);
@import url(xp.css) layer(xp);

@import url("../../../../../public/shared/css/mdl.css") layer(mdl);
@import url("../../../../../public/shared/css/icons.css") layer(mdl);

@layer base {
  *,
  *:after,
  *:before {
    box-sizing: border-box;
  }

  body {
    display: grid;
    place-items: center;
    min-height: 100vh;
    font-family: "Google Sans", sans-serif, system-ui;
    position: relative;
    overflow: hidden;
  }
}



@layer base {
  *,
  *:after,
  *:before {
    box-sizing: border-box;
  }

  body {
    display: grid;
    place-items: center;
    min-height: 100vh;
    font-family: Arial, system-ui;
    align-content: center;
  }

  :where([popover]) {
    margin: auto;
    border-width: initial;
    border-style: solid;
  }
}

@layer demo {
  [popover] {
    padding: var(--size-4);
  }
  [popover] {
    transform: translate(-50%, -50%) translateX(calc(var(--offset-x, 0) * 50%))
      translate(calc(var(--x, 0) * 2vmin), calc(var(--y, 0) * 2vmin))
      translateX(calc(var(--slide-x, 0) * -10%));
    position: fixed;
    top: 50%;
    left: 50%;
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    overflow: visible;
  }

  .window-body {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
  }

  .window-body p {
    padding: var(--size-2);
    font-family: Arial;
    font-size: 12px;
  }

  .title-bar {
    min-height: 28px;
  }

  .title-bar-controls button {
    height: 21px;
  }
  button {
    height: auto;
    color: #000;
  }
}
