---
import './style.css';
---
<!doctype html>
<html lang="en" class="selectmenu-support">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0, maximum-scale=1.0" />
    <title>openui-initiative/selectmenu/heading-select</title>
  </head>
  <body>
    <selectmenu id=country>
      <div slot="button">
        <button behavior="button" disabled>
          <span behavior="selected-value" slot="selected-value">
            Loading...
          </span>
        </button>
      </div>
      <div slot="listbox">
        <div popover behavior="listbox">
        </div>
      </div>
    </selectmenu>
  </body>
</html>
<script>
  import "./_script.js";
</script>