---
import './style.css';
---

<html>
  <head>
    <title>First Pop-up</title>
  </head>
  <body>
    <main>
      <h1>Pop-ups are FAB!</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, sequi quaerat dolore. Inventore, eius veritatis illo quos excepturi exercitationem debitis qui eveniet consequatur laborum voluptatibus laudantium id voluptatem corrupti, modi.</p>
      <p>Fugit beatae voluptatem eum dicta tempora adipisci consequuntur nostrum nemo cumque animi, doloremque temporibus alias eveniet, numquam fuga, suscipit aliquam quis quidem explicabo, ducimus iusto quibusdam! Consequuntur ducimus quam minima?</p>
      <p>Nam, sequi modi odit ad illum quae porro, incidunt facere in minima sunt corrupti rerum, aliquid minus! Aliquid esse nobis aut porro optio sit qui impedit repellat! Pariatur, nisi, facere.</p>
      <p>Tenetur dicta animi nobis expedita dolorum blanditiis nemo. Numquam autem quas eligendi nobis cum, facere, delectus molestiae voluptates officiis? Expedita id facilis libero, quo natus consequuntur fugiat sequi repellat rem.</p>
      <p>Nisi rem saepe quibusdam, labore culpa non deserunt iure eveniet ipsa odio maxime excepturi obcaecati aliquam. Praesentium veritatis illo, aperiam quasi. Quisquam delectus minima commodi ad molestiae excepturi veritatis deleniti?</p>
      <p>Dicta, hic in est cum, totam tempore velit dolores quia, quos, tempora rerum dolorem nam. Delectus deleniti itaque repudiandae accusamus, in ea, modi maxime deserunt harum eaque repellat eum reiciendis.</p>
      <p>Iure asperiores est quod ea quae, commodi totam harum aperiam ut, omnis eius officia ullam nam atque quam cupiditate assumenda nostrum voluptatum enim quidem molestiae unde dolorem hic architecto. Placeat.</p>
    </main>
    <button
      class="fab secondary"
      popup="manual"
      defaultopen
      popuptoggletarget="menu"
    >
      <i class="material-icons">add</i>
    </button>
    <div id="menu" class="fab__menu" popup="auto" style="--count: 3">
      <ul class="fab__menu-items">
        <li class="fab__menu-item">
          <button
            autofocus
            class="fab"
            style="--index: 0"
            popuphidetarget="menu"
          >
            <i class="material-icons">chat</i>
          </button>
        </li>
        <li class="fab__menu-item">
          <button
            autofocus
            class="fab"
            style="--index: 1"
            popupshowtarget="cam"
            popuphidetarget="menu"
          >
            <i class="material-icons">photo_camera</i>
          </button>
        </li>
        <li class="fab__menu-item">
          <button
            autofocus
            class="fab"
            style="--index: 2"
            popuphidetarget="menu"
          >
            <i class="material-icons">pin_drop</i>
          </button>
        </li>
      </ul>
    </div>
    <div id="cam" class="container" popup>
      <div class="container__content">
        <div class="container__toolbar"></div>
        <div class="container__screen"></div>
      </div>
    </div>
    <script is:inline src="../../../../public/licensed/InertiaPlugin.min.js"></script>
    <script>
      import "./script.js";
    </script>
  </body>
</html>
