@layer normalize, open-props, mdl, base, demo;



@import "normalize.css" layer(normalize);
@import "open-props/style" layer(open-props);
@import "open-props/normalize" layer(open-props);

@import url("../../../../../public/shared/css/mdl.css") layer(mdl);
@import url("../../../../../public/shared/css/icons.css") layer(mdl);

@layer base {
  *,
  *:after,
  *:before {
    box-sizing: border-box;
  }

  body {
    display: grid;
    place-items: center;
    min-height: 100vh;
    font-family: "Google Sans", sans-serif, system-ui;
    position: relative;
    overflow: hidden;
  }
}
@layer demo {
  .fab[popup] {
    height: var(--fab-size);
    width: var(--fab-size);
    border-radius: 50%;
    top: 100%;
    left: 100%;
    transition: transform var(--transition);
    transform: translate(-150%, -250%) rotate(calc(var(--twist, 0) * 45deg));
    padding: 0;
    border: 0;
    margin: 0;
    background: var(--text-1);
    color: var(--surface-1);
  }

  main {
    display: grid;
    gap: var(--size-4);
    line-height: 1.5;
  }

  #menu {
    left: calc(100% - var(--fab-size));
    top: calc(100% - var(--fab-size));
    margin: 0;
    padding: 0;
    border: 0;
    transform: translate(-50%, calc(-125% - (var(--fab-size) * 0.5)));
    overflow: visible;
    background: transparent;
    padding: var(--size-6) 0;
  }

  #menu:open {
    --open: 1;
  }

  .fab__menu-items {
    gap: var(--size-4);
    list-style-type: none;
    display: grid;
    padding: 0;
    margin: 0;
  }

  .fab__menu-item {
    padding: 0;
  }

  #menu button {
    --tint-color: transparent;
    color: var(--text-2);
    background: var(--surface-2);
    outline-color: var(--text-2);
    border-radius: 50%;
    transition: transform var(--transition) calc(var(--index) * var(--step));
    transform: scale(var(--open, 0));
  }

  #menu:open button {
    transition-delay: calc((var(--count) - var(--index)) * var(--step));
  }
}

@layer base {
  :root {
    --step: 0.075s;
    --transition: 0.15s;
    --fab-size: calc(56 * 1.25px);
  }
  :root:has(#menu:open) {
    --twist: 1;
  }

  *,
  *:after,
  *:before {
    box-sizing: border-box;
  }

  body {
    min-height: 100vh;
    display: grid;
    place-items: center;
    gap: var(--size-4);
    font-family: "Google Sans", sans-serif, system-ui;
  }

  :where([popup]) {
    margin: auto;
    border-width: initial;
    border-style: solid;
  }
}


main > p + p {
  margin-top: var(--size-4);
}
h1 {
  margin-bottom: var(--size-6);
}

.overlay {
  height: 100vh;
  width: 100vw;
}

.container {
  --chrome: hsl(207, 35%, 19%);
  padding: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: visible;
  border: 0;
  background: transparent;
}
.container__content {
  transform: scale(var(--open, 0));
  transition: transform 0.2s;
  box-shadow: var(--shadow-5);
  transform-origin: 50% 100%;
}

.container:open {
  --open: 1;
}

.container__screen {
  background: var(--chrome);
  border: 4px solid var(--chrome);
}
.container__toolbar {
  height: 2rem;
  width: 100%;
  background-image:
    radial-gradient(hsl(18 100% 50%) 50%, transparent 51%),
    radial-gradient(hsl(39, 100%, 62%) 50%, transparent 51%),
    radial-gradient(hsl(136, 74%, 44%) 50%, transparent 51%);
  background-size: 1rem 1rem;
  background-position: 0.5rem 50%, 1.5rem 50%, 2.5rem 50%;
  background-repeat: no-repeat;
  background-color: var(--chrome);
  border-radius: 16px 16px 0 0;
  transform: translate(0, 2px);
}

.container__screen {
  width: 360px;
  aspect-ratio: 4 / 3;
}

video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
