---
	import './style.css'
---
<html>
	<head>
		<title>Basic Input</title>
	</head>
	<body>
		<ul>
			<li class="card">
				<img class="card__image" src="/shared/images/lake-scape.jpg">
			 	<div class="card__content">
				  <h2 class="card__title">
				    <a href="#">Get Outside</a>
				  </h2>
				  <p class="card__blurb">Here's a description for this awesome article.</p>
				  <small class="card__author">Chrome DevRel</small>
			 	</div>
			</li>
			<li class="card">
				<img class="card__image" src="/shared/images/forest.jpg">
				<div class="card__feature">
					<span aria-hidden data-splitting>feature•feature•</span>
					<span class="sr-only">Featured</span>
				</div>
			 	<div class="card__content">
				  <h2 class="card__title">
				    <a href="#">Explore</a>
				  </h2>
			 	</div>
			</li>
			<li class="card">
				<img class="card__image" src="/shared/images/star-scape.jpg">
			 	<div class="card__content">
				  <h2 class="card__title">
				    <a href="#">It's HD</a>
				  </h2>
				  <p class="card__blurb">Here's a description for this awesome article.</p>
				  <small class="card__author">Chrome DevRel</small>
			 	</div>
			</li>
		</ul>
	</body>
</html>
<script>
	import Splitting from 'splitting'
	Splitting()
</script>