---
import './style.css';
---

<html>
  <head>
    <title>First Pop-up</title>
  </head>
  <body>
    <main>
      <article>
        <h1>Pop-up Discount Code</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum nam
          sint sed modi dolor veniam repudiandae, et quasi unde quis voluptatum
          iure accusantium quam quod ducimus itaque eligendi eius, natus?
        </p>
        <div id="code-pop-up" class="balloon" popover>
          <div class="balloon__content">
            <div class="balloon__handle"></div>
            <code>my-first-pop-up</code>
            <button class="button ripple" popoverhidetarget="code-pop-up">
              Hide Code
            </button>
          </div>
        </div>
        <button class="button ripple" popovershowtarget="code-pop-up">
          Reveal Code
        </button>
      </article>
    </main>
  </body>
</html>
