---
import './style.css';
---
<html>
  <head>
    <title>TypeStyle</title>
  </head>
  <body>
    <div data-splitting class="glitchy">
      Glitchy
    </div>
    <script>
      import './_script.js';
    </script>
  </body>
</html>